<div>
    <main class="container mx-5 py-16 flex justify-between ">
        <div class="h-full">
            <img class="h-full " src="../../../../assets/photos/School-Management-System-Software-Guide.webp" alt="management image">
        </div>
        <div>
            <h1 class="text-3xl font-bold mb-4">You’re most welcome!</h1>
            <p class="text-lg">This is Musanze secondary school 
                management system.</p>
        </div>
       
      </main>
    
    
      <footer class="bg-gray-300 py-4 text-center">
        <p>&copy; 2024 MSSMS. All rights reserved.</p>
      </footer>
</div>