<div  class="bg-gray-200 shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-md mx-auto">
    <div class="flex justify-between items-center">
      <h1 class="text-2xl font-bold text-gray-800">Signup</h1>
      <mat-icon class="text-red-500" (click)="closeSignup(false)">close</mat-icon>
    </div>
    <form [formGroup]="signupForm" class="mt-6">
        <div class="mb-4">
            <label for="firstName" class="block text-gray-700 text-md mb-2">Enter your firstName</label>
            <input type="text" id="firstName" placeholder="Ex:john" name="firstName" formControlName="firstName"  class="shadow border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline">
            <div *ngIf="signupForm.get('firstName')?.hasError('required') && (signupForm.get('firstName')?.touched || submitted )" class="text-red-500 text-xs">First name is required.</div>
        
        </div>

        <div class="mb-4">
            <label for="lastName" class="block text-gray-700 text-md mb-2">Enter your lastName</label>
            <input type="text" id="lastName" placeholder="Ex:Doe" name="lastName" formControlName="lastName"  class="shadow border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline">
            <div *ngIf="signupForm.get('lastName')?.hasError('required') && (signupForm.get('lastName')?.touched || submitted )" class="text-red-500 text-xs">Last name is required.</div>
        
        </div>
        
        <div class="mb-4">
        <label for="email" class="block text-gray-700 text-md mb-2">Enter your email</label>
        <input type="email" id="email" placeholder="Ex:parfaite@gmail.com" name="email" formControlName="email"  class="shadow border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline">
        <div *ngIf="signupForm.get('email')?.hasError('required') && (signupForm.get('email')?.touched || submitted )" class="text-red-500 text-xs">Email is required.</div>
        <div *ngIf="signupForm.get('email')?.hasError('email') && (signupForm.get('email')?.touched || submitted) " class="text-red-500 text-xs">Please enter a valid email address.</div>
    
      </div>
      <div class="mb-6">
        <label for="password" class="block text-gray-700 text-md mb-2">Enter your password</label>
        <input type="password" id="password" placeholder="Ex: ...." name="password" formControlName="password"  class="shadow border rounded w-full py-2 px-3 text-gray-700  focus:outline-none focus:shadow-outline">
        <span *ngIf="signupForm.get('password')?.hasError('required') && (signupForm.get('password')?.touched || submitted)" class="text-red-500 text-xs" >Please fill in your password</span>
      </div>
      <button type="button" class="bg-[#2F8294] text-white py-2 px-6 items-center rounded focus:outline-none focus:shadow-outline" (click)="submitSignup()">Signup</button>
      <p class="mt-4 text-center text-gray-500">
        Already have an account? <span><button type="button" class="text-[#2F8294] hover:font-bold" (click)="showLogin(true)">Login</button></span>
      </p>
    </form>
  </div>
  








<!-- <div class="bg-gray-200">
    <div>
        <h1>Login</h1>
         <mat-icon>close</mat-icon>
    </div>
    <div>
        <form >
            <div>
                <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Enter your email</label>
                <input type="email" placeholder="ex:parfaite@gmail.com" name="email" >
            </div>
            <div>
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Enter your password</label>
                <input type="password" placeholder="Ex: ...." name="password" >
            </div>
            <button type="submit" class="bg-blue-400 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Login</button>
            <p>Don't have an account? <span><button type="button">Signup</button></span> </p>

        </form>
    </div>
</div> -->