<div>
    
    <div *ngIf="showSignup"  class="modal-container fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center z-50" >
       
       <div>
        <app-signup></app-signup> 
       </div> 
    </div>

    <div *ngIf="showLogin"  class="modal-container fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center z-50" >
        <div>
         <app-login></app-login> 
        </div> 
    </div>
   
    <nav class=" bg-[#2F8294] h-14">
        <div class="container mx-auto px-14 py-3 flex justify-between items-center ">
          <a routerLink="/" class="text-white text-xl font-bold">MSSMS</a>
          <ul class="flex space-x-4">
            <li>
              <a routerLink="/"  class="text-white hover:text-black cursor-pointer">Home</a>
            </li>
            <li>
                <button type="button" (click)="showLoginForm(true)"  class="text-white hover:text-black cursor-pointer"> Login</button>
            </li>
            <li>
                <button type="button" class="text-white hover:text-black cursor-pointer" (click)="showSignupForm(true)" > Signup</button>
                
            </li>
          </ul>
        </div>
      </nav>
      
      <main  class="container mx-5 py-16 flex justify-between ">
     
        <div *ngIf="isAdmin">
            <app-dashboard></app-dashboard>
        </div>

        <div *ngIf="!isAdmin" class="container mx-5 py-16 flex justify-between ">
        <div class="h-full">
            <img class="h-full " src="../../../../assets/photos/School-Management-System-Software-Guide.webp" alt="management image">
        </div>
        <div>
            <h1 class="text-3xl font-bold mb-4">You’re most welcome!</h1>
            <p class="text-lg">This is Musanze secondary school 
                management system.</p>
        </div>
    </div>
      </main>
    
    
      <footer class="bg-gray-300 py-4 text-center">
        <p>&copy; 2024 MSSMS. All rights reserved.</p>
      </footer>
</div>

  